@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import url('./design-mobile.css');
@import url('./navbar.css');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wraper{
  width: 81% ;
  margin: auto;
}